<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav-menu" class="nav-menu">
    <h2>Menu</h2>
    <form th:action="@{/create}"><button type="submit" class="button">Create thread</button></form>
    <form th:action="@{/users}"><button type="submit" class="button">Users</button></form>
    <form th:action="@{/threads/liked}"><button type="submit" class="button">Liked</button></form>
    <form th:action="@{/threads/disliked}"><button type="submit" class="button">Disliked</button></form>
    <form th:action="@{/threads/my}"><button type="submit" class="button">My threads</button></form>
    <div class="vertical-line"></div>
</div>
</body>
</html>