<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head >
    <meta charset="UTF-8">
    <link href="/styles/mainstyle.css" rel="stylesheet" th:href="@{/styles/mainstyle.css}">
    <link rel="icon" type="image/x-icon" href="/img/leaf.png">
    <title>Login</title>
</head>
<body>
<div id="ButtonForLogin" style="display: flex; margin-left: 40% ; height: 50px">
    <h3>Don't have any account?</h3>
    <form th:action= "@{/registration}" method="get">
        <input type="submit"  value="sign up">
    </form>
</div>

<div id="LoginForm">
    <h3>Login</h3>
    <form th:action="@{/login}" method="post">

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="username">

                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password">

                 <input type="submit"  value="submit">
    </form>
</div>



<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>