<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head >
    <meta charset="UTF-8">
    <link href="/styles/mainstyle.css" rel="stylesheet" th:href="@{/styles/mainstyle.css}">
    <link rel="icon" type="image/x-icon" href="/img/leaf.png">

    <title>thread</title>
</head>
<body>

<div th:with="isAdminOrModerator=${ user.role.name() == 'ADMIN'}">
    <div th:with="isAdminOrModerator=${isAdminOrModerator}"  th:replace="~{fragments/header :: header(isAdminOrmoderator = ${isAdminOrModerator})}"></div>
</div>


<div th:insert="~{fragments/nav-menu :: nav-menu}"></div>




<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>