<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head >
    <meta charset="UTF-8">
    <link href="/styles/mainstyle.css" rel="stylesheet" th:href="@{/styles/mainstyle.css}">
    <link rel="icon" type="image/x-icon" href="/img/leaf.png">

    <title>thread</title>
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div th:insert="~{fragments/nav-menu :: nav-menu}"></div>

<div class="container" id = "thread">
    <div class="title" th:text="${vote.name}"></div>
    <div class="line"></div>
    <div class="text">
        <p th:text="${vote.description}"></p>
    </div>
    <img style = "width: 500px; height: 300px;" class="image" th:src="'data:image/png;base64,' + ${image}" alt="Картинка">
    <div id="threadButtons">
    <form th:action="@{/like/{id}(id=${vote.id})}" method="post"><button type="submit" id="Yes" class="button">YES</button></form>
    <form th:action="@{/dislike/{id}(id=${vote.id})}" method="post"><button type="submit" id = "No" class="button">NO</button></form>
    </div>

</div>


<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>