<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head >
  <meta charset="UTF-8">
  <link href="/styles/mainstyle.css" rel="stylesheet" th:href="@{/styles/mainstyle.css}">
  <link rel="icon" type="image/x-icon" href="/img/leaf.png">

  <title>threads</title>
</head>
<body>

<header>
  <div class="site-name">MY SITE</div>
  <div style="display: flex; justify-content: center;">
      <form th:action= "@{/showThread/random}" method="get"><button style = "background-image: url('/img/random.png');" class="button"></button></form>
    <form th:action= "@{/threads}" method="get"><button style = "background-image: url('/img/options-lines.png');" class="button"></button></form>
    <form th:action= "@{/userProfile}" method="get"> <button style = "background-image: url('/img/user.png');" type = "submit" class="button"></button></form>
    <form th:action= "@{/logout}" method="post"><button style = "background-image: url('/img/logout.png');" type = "submit" class="button"></button></form>


  </div>
</header>

<div class="nav-menu">
  <h2>Menu</h2>
  <form th:action="@{/create}"><button type="submit" class="button">Create thread</button></form>
  <form th:action="@{/threads}"><button type="submit" class="button">Popular</button></form>
  <form th:action="@{/threads}"><button type="submit" class="button">Liked</button></form>
  <form th:action="@{/threads}"><button type="submit" class="button">Disliked</button></form>
  <form th:action="@{/threads/my}"><button type="submit" class="button">My threads</button></form>
  <div class="vertical-line"></div>
</div>

<div id = "threads" style="overflow-y:scroll; overflow-x:hidden; height: 600px; width: 1000px;">
  <tr th:each="vote : ${votes}">

    <td><form style="width:1000px;" th:action="@{/showThread/{id}(id=${vote.id})}" method="get">
      <div style=" width: 1000px; height: 50px; border: 1px solid black;">

        <button style="  display: flex;   justify-content: left;   align-items: center;text-align: left; margin-top: 0;margin-right: 0; margin-bottom: 0; float: right;  width: 900px; height: 50px;" type="submit" class="button" >
          <img  class="image" th:src="'data:image/png;base64,' + ${vote.imageData}" alt="Картинка" style="display: flex;  margin-right: 5px; float: left; border-radius: 50%; width: 50px; height: 50px;">

          <p style=" width: 630px; overflow-x:hidden; margin-top: 0; margin-bottom: 0; display: inline-block;" th:text="${vote.authorName} + ':                 ' +  ${vote.name}"></p>
         <div style=" width: 270px; justify-content: right; margin-left: 20%; text-align: right; "> <p style=" margin-top: 0; margin-bottom: 0;  text-align: right;  display: inline-block;" th:text="'' + ${vote.date} + ' ' + ${vote.time}"></p></div>
          <form style="float: left;margin-top: 0; margin-left: 0; margin-right: 100px;  display: flex; width:50px; height: 50px" th:action="@{/deleteThread/{id}(id=${vote.id})}" method="post">

            <button style="  display: flex;   justify-content: left;  margin-top: 0; float: right;  width: 50px; height: 50px;" type="submit">del</button>

          </form>
      </button>
      </div>

    </form></td>

  </tr>
</div>

<footer>
  <div style="width: 33%; height: 100%; display: flex; align-items: center; justify-content: center;"></div>
  <div style="width: 33%;  height: 100%; display: flex; align-items: center; justify-content: center; border-left: 1px solid #fff; border-right: 1px solid #fff;">
    <p style = "font-size: 16px; color: white;">some txt about project like: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div style="width: 33%; height: 100%; display: flex; align-items: center; justify-content: right;">
    <ul style="list-style-type: none; padding: 0; margin: 0; font-size: 16px;">
      <li><a href="https://github.com/NetesaRoman" style="color: #fff;">My github</a></li>
      <li><a href="#" style="color: #fff;"> Ссылка 2</a></li>
      <li><a href="#" style="color: #fff;">Ссылка 3</a></li>
    </ul>
  </div>
</footer>
</body>
</html>