<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link href="/styles/mainstyle.css" rel="stylesheet" th:href="@{/styles/mainstyle.css}">
    <link rel="icon" type="image/x-icon" href="/img/leaf.png">

    <title>profile</title>
</head>
<body>

<div th:with="isAdminOrModerator=${ client.role.name() == 'ADMIN'}">
    <div th:with="isAdminOrModerator=${isAdminOrModerator}"
         th:replace="~{fragments/header :: header(isAdminOrmoderator = ${isAdminOrModerator})}"></div>
</div>


<div th:insert="~{fragments/nav-menu :: nav-menu}"></div>

<div id="workspace">
    <div style="position: relative; display: flex;">
        <img th:src="'data:image/png;base64,' + ${avatar}" alt="Картинка"
             style="border-radius: 50%; width: 180px; height: 180px; float: left; margin-right: 10px;">

        <form th:if="${isOwner}" th:action="@{/userProfile/edit}" method="get"
              style="position: absolute; height: 40px; width: 40px; bottom: -5px; left: 110px;">
            <button id="editButton" class="button"></button>
        </form>

        <div>
            <h2 th:text="${user.name + ' ' + user.secondName}"></h2>
            <h2 th:text="${user.role.name()}"></h2>
            <p th:text=" ${'Телефон: ' + user.phone}"></p>
            <p th:text=" ${'Эл. почта: ' + user.email}"></p>

        </div>
    </div>

</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>