@font-face {
    font-family: myfont;
    src: url("../fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
}

h1 {
    font-family: myfont;
    color: #fff;
    text-align: center;
    font-size: 56px;

}

hr {
    border: none;
    border-top: 1px solid #fff;
    margin: 20px auto;
    width: 40%;
}


footer p {
    font-family: myfont;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003711;
    color: #fff;
    text-align: center;
    font-size: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    margin-top: 55%;

}

.button {

    background-color: #9DFCBB;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 250px;
    height: 100px;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #2ecc71;
}

.button:active {
    background-color: #27ae60;
    color: white;
}

#Buttons {
    margin-left: 35%;
}

#RegistrationForm {
    width: 400px;
    height: 500px;
    margin-top: 10%;
    margin-left: 37%;
    background-color: #9DFCBB;
    border: 1px solid black;
    padding: 20px;
    font-family: myfont;
    color: black;
}


#RegistrationForm input[type="submit"] {

    width: 150px;
    height: 45px;
    margin-top: 20px;
    margin-left: 64%;
    background-color: #006620;
    color: #fff;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
}

#RegistrationForm input[type="submit"]:hover {
    background-color: #004d1a;
}

#RegistrationForm input[type="submit"]:active {
    background-color: #003311;
}

#RegistrationForm label {
    display: block;
}

#RegistrationForm input {
    width: 100%;
    height: 30px;
}

#LoginForm {
    margin-top: 10%;
    margin-left: 37%;
    width: 400px;
    height: 300px;

    background-color: #9DFCBB;
    border: 1px solid black;
    padding: 20px;
    font-family: myfont;
    color: black;
}


#LoginForm input[type="submit"] {

    width: 150px;
    height: 45px;
    margin-top: 40px;
    margin-left: 64%;
    background-color: #006620;
    color: #fff;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
}

#LoginForm input[type="submit"]:hover {
    background-color: #004d1a;
}

#LoginForm input[type="submit"]:active {
    background-color: #003311;
}

#LoginForm label {
    display: block;
}

#LoginForm input {
    width: 100%;
    height: 30px;
}

header {
    font-family: myfont;
    background-color: #006620;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
    left: 0;
    margin-top: -15px;
    margin-left: -22px;
    width: 99.5%;
    height: 100%;

}

/* Стили для названия сайта */
.site-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

/* Стили для кнопок */
header .button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-color: #9DFCBB;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;

}

/* Стили для кнопок */
.nav-menu .button {
    font-family: myfont;
    font-size: 18px;
    background-color: #9DFCBB;
    border: none;
    border-radius: 0;
    width: 85%;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color .2s;
}

/* Стили для навигационного меню */
.nav-menu {
    position: fixed;
    margin-top: 4%;
    font-family: myfont;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

/* Стили для вертикальной полоски */
.vertical-line {
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
    width: 3px;
    background-color: #000000;
}

.nav-menu .button:hover{
    background-color: #2ecc71;
}

.nav-menu .button:active{
    background-color: #27ae60;
    color: white;
}

#workspace{
    font-family: myfont;
    margin-left: 15%;

}

#threads{
    font-family: myfont;
    background-color: #9DFCBB;
    width: 1000px;
    height: 700px;
    border: 2px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#CreateThreadForm{
    width: 800px;
    height: 550px;
    margin-top: 3%;
    margin-left: 37%;
    background-color: #9DFCBB;
    border: 1px solid black;
    padding: 20px;
    font-family: myfont;
    color: black;
}

#CreateThreadForm [type="submit"] {

    width: 150px;
    height: 45px;
    margin-top: 15px;
    margin-left: 80%;
    background-color: #006620;
    color: #fff;
    padding: 10px 20px;
    border: none;

    cursor: pointer;
}

#CreateThreadForm input[type="submit"]:hover {
    background-color: #004d1a;
}

#CreateThreadForm input[type="submit"]:active {
    background-color: #003311;
}

#CreateThreadForm label {
    display: block;
}

#CreateThreadForm input {
    width: 100%;
    height: 30px;
}

#CreateThreadForm textarea {
    width: 100%;
    height: 300px;
}

#thread {
    margin: 0;
    padding: 0;
    font-family: myfont;
}


#thread .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#thread .title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;

}

#thread .line {
    height: 2px;
    background-color: black;
    width: 800px;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 20px;
}

#thread .text {
    font-size: 14px;
    line-height: 16px;
    width: 800px;
    margin-bottom: 50px;
    margin-left: 30%;
    text-align: center;
}

#thread .image {
    max-width: 550px;
    max-height: 450px;
    margin: 0 auto;
    display: block;
}

#threadButtons{
    margin-top: 3%;
    margin-left: 38.5%;
    font-family: myfont;
    display: flex;
    justify-content: left;
    align-items: center;

}

#threadButtons .button[id="Yes"] {
    width: 200px;
    height: 75px;
    background-color: #76F5C4;
    border-radius: 15px;
    color: black;
    border: none;
    cursor: pointer;
}

#threadButtons .button[id="Yes"]:hover {
    background-color: #6DD4AD;
}

#threadButtons .button[id="Yes"]:active {
    background-color: #468A70;
    color: white;
}

#threadButtons .button[id="No"] {
    width: 200px;
    height: 75px;
    background-color: #F57A71;
    border-radius: 15px;
    color: black;
    border: none;
    cursor: pointer;
}

#threadButtons .button[id="No"]:hover {
    background-color: #D0635B;
}

#threadButtons .button[id="No"]:active {
    background-color: #9B4943;
    color: white;
}

#deleteButton{
    background-size: 40px 40px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #9DFCBB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#deleteButton:hover {
    background-color: #2ecc71;
}

#deleteButton:active {
    background-color: #27ae60;
}